[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
smplx = "*"
einops = "*"
moviepy = "*"
omegaconf = "*"
pytorch-lightning = "*"
hydra-core = "*"
librosa = "*"
trimesh = "*"
pyrender = "*"
python-dotenv = "*"
hydra-colorlog = "*"
rich = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
