[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "*"
torchaudio = "*"
einops = "*"
moviepy = "*"
omegaconf = "*"
pytorch-lightning = "*"
hydra-core = "*"
librosa = "*"
trimesh = "*"
pyrender = "*"
python-dotenv = "*"
hydra-colorlog = "*"
rich = "*"
wandb = "*"
torch = "*"
pip = "*"
smplx = {extras = ["all"], version = "*"}
tensorboard = "*"
chumpy = "*"
numpy = "==1.23.1"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
